## Importing Lib and Modules

In [3]:
import pandas as pd

## Reading Files

In [4]:
data = pandas.read_csv('Palestine Body Count.csv')

In [8]:
backup = data.copy()

In [36]:
backup=backup.rename(columns = {'Palestinians Injuries':'Palestinians_Injuries',
                                'Israelis Injuries':'Israelis_Injuries',
                               'Palestinians Killed':'Palestinians_Killed',
                                'Israelis Killed':'Israelis_Killed'})

In [ ]:
backup['Total_Palestinians_Casualties'] = backup['Palestinians_Injuries']+ backup['Palestinians_Killed']

In [12]:
backup

,Year,Month,Palestinians Injuries,Israelis Injuries,Palestinians Killed,Israelis Killed
0,2000.0,DECEMBER,781,NaN,51,8
1,2000.0,NOVEMBER,3838,NaN,112,22
2,2000.0,OCTOBER,5984,NaN,104,10
3,2000.0,SEPTEMBER,NaN,NaN,16,1
4,2001.0,DECEMBER,304,NaN,67,36
...,...,...,...,...,...,...
246,2021.0,MARCH,NaN,NaN,4,0
247,2021.0,APRIL,NaN,NaN,1,0
248,2021.0,MAY,NaN,NaN,26,3
249,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,NaN,"111,475","5,160","10,000","1,275"

In [19]:
backup['Month'].uniqueque()

array(['DECEMBER', 'NOVEMBER', 'OCTOBER', 'SEPTEMBER', 'AUGUST', 'JULY',
       'JUNE', 'MAY', 'APRIL', 'MARCH', 'FEBRUARY', 'JANUARY',
       'MAY & JUNE', 'MAY ', nan], dtype=object)

In [21]:
backup["Palestinians Injuries"].iloc[165]=0
backup["Israelis Injuries"].iloc[165]=0
backup["Palestinians Injuries"].iloc[203]=0
backup["Israelis Injuries"].iloc[203]=0
backup["Month"].iloc[203]="MAY"

/home/perman/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [22]:
backup["Palestinians Injuries"][165]

0

In [23]:
backup["Palestinians Injuries"].iloc[165]

0

In [24]:
backup["Palestinians Killed"]=backup["Palestinians Killed"].apply(int)

ValueError: cannot convert float NaN to integer

In [39]:
backup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   249 non-null    float64
 1   Month                  249 non-null    object
 2   Palestinians_Injuries  196 non-null    object
 3   Israelis_Injuries      133 non-null    object
 4   Palestinians_Killed    250 non-null    object
 5   Israelis_Killed        250 non-null    object
dtypes: float64(1), object(5)
memory usage: 11.9+ KB

In [11]:
backup.describe()

              Year
count   249.000000
mean   2010.542169
std       6.014702
min    2000.000000
25%    2005.000000
50%    2011.000000
75%    2016.000000
max    2021.000000

In [29]:
killing_data = pd.DataFrame()

In [ ]:
killing_data = backup['Year', 'Month', '']